<<<<<<< HEAD
.btn-load.is-hidden {
  background-color: bisque;
}

.is-hidden {
  display: none;
}
=======
.btn-load > .is-hidden{
 display: block;
 margin-top: 30px;
 margin-bottom: 30px;
 margin-left: auto;
 margin-right: auto;
}

.is-hidden{
    display: none;
}
>>>>>>> cee89d3bf917add0c90cafd6e9c832ddc6b373b1
