.header-form {
  background-color: rgb(84, 150, 189);
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-search {
  margin-left: 10px;
}
